body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.6;
      background-color: #f4f4f4;
}
    header {
      background-color: #0077cc;
      color: white;
      padding: 20px;
      text-align: center;
    }
    nav {
      background: #eee;
      padding: 20px;
      text-align: center;
    }
    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #333;
      background-color: gold;
      padding: 10px;
      border-radius: 7px;
      text-transform: uppercase;
    }
    section {
      padding: 20px;
      max-width: 900px;
      margin: auto;
      background-color: white;
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    }
    #apropos{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #apropos .desc{
        border: 1.5px solid dodgerblue;
        text-align: justify;
        padding: 0 100px;
        border-radius: 7px;
    }
    section h2{
        text-transform: uppercase;
    }
    #apropos .desc p{
        font-size: 1.2rem;
    }
    #services{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #services .desc h2{
        margin-left: 70px;
    }
    #services .desc{
        border: 1.5px solid dodgerblue;
        border-radius: 7px;
        padding: 0 30px 0 0;
    }
    #services ul li{
        list-style: none;
        display: flex;
        align-items: center;
    }
    #services ul li img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 5px 10px;
    }
    footer {
      background-color: #0077cc;
      color: white;
      text-align: center;
      padding: 10px;
    }
    .project {
      margin-bottom: 20px;
    }
.project img {
    max-width: 100%;
    border-radius: 8px;
}

#apropos img, #services img{
    height: 300px;
    width: 300px;
    /* float: right; */
}